// Primary Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;

// Neutrals
$white: #ffffff;
$black: #000000;
$gray-light: #bdc3c7;
$gray-dark: #2c3e50;

// Backgrounds
$background-light: #ecf0f1;
$background-dark: #34495e;

// Text
$text-primary: #333333;
$text-secondary: #777777;

// Border Colors
$border-light: #ddd;
$border-dark: #333;

// Other Custom Colors
$highlight-color: #f39c12;
$warning-color: #7e1111;
$input-bg: rgba(204, 204, 204, 0.59);
$background-gradient: linear-gradient(148deg, rgba(56, 0, 0, 0.8) 0%, rgba(94, 9, 121, 0.76) 42%, rgba(0, 212, 255, 0.69) 100%);
$background-gradient_2: linear-gradient(37deg, rgba(206,224,0,0.6160752819430444) 0%, rgba(195,104,224,0.758010765814012) 42%, rgba(0,176,255,0.6902688303301412) 100%);
$box-shadow-primary: 0 8px 15px rgba(0, 0, 0, 0.3);
$box-shadow-secondary: 0 4px 6px rgba(0, 0, 0, 0.2);
$border-radius: 5px;
$padding: 2em;
$gap: 60px;

$smallGap: 15px;
