@import 'constants';

#search_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #search_results {
    margin: 1em auto;
    padding: 1em 2em;
    border-radius: $border-radius;
    background: $background-gradient_2;
    box-shadow: $box-shadow-primary, $box-shadow-secondary;
    color: $white;
  }

  h1 {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  #search_page {
    flex-direction: column;
  }
}

.journey_display {
  border-radius: $border-radius;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-light;
  background: $input-bg;
  margin: 0.5em;
  padding: 0.5em;

  &.cancelled, &.fully_reserved{
    opacity: 60%;
  }

  .depart_arrive_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: $smallGap;

    &.delayed {
      text-decoration: line-through;
      font-size: 0.9em;
    }

    &.live {
      font-weight: bold;
    }

    .detail {
      font-size: 0.7em;
    }
  }

  .change_info {
    font-size: 0.8em;
    text-align: left;
  }
}

.loader_container {
  margin: 2em;
  position: relative;
  width: 200px;
  height: 200px;
}

.loader {
  position: absolute;
  transform-origin: center;
  top: 0;
  left: 0;
  width: 100%;

  opacity: 80%;
  rotate: 30deg;
  animation: rotation 1s linear infinite;
  z-index: 1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.await_input {
  text-align: center;
  padding: $padding;

  i {
    font-size: 0.9em;
    opacity: 0.9;
  }
}

.journeys_header {
  display: flex;
  gap: $smallGap;
  justify-content: center;
}
