:root {
  --background-gradient: linear-gradient(148deg, rgba(56, 0, 0, 0.8) 0%, rgba(94, 9, 121, 0.76) 42%, rgba(0, 212, 255, 0.69) 100%);
  --box-shadow-primary: 0 8px 15px rgba(0, 0, 0, 0.3);
  --box-shadow-secondary: 0 4px 6px rgba(0, 0, 0, 0.2);
  --input-bg: rgba(204, 204, 204, 0.59);
  --border-radius: 5px;
  --warning-color: #7e1111;
  --padding: 2em;
  --gap: 60px;
}

#search_form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2em auto;
  height: fit-content;
  color: white;
  padding: var(--padding);
  background: var(--background-gradient);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-primary), var(--box-shadow-secondary);

  #search-title {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }

  button {
    margin: 1em auto 0;
    font-size: 1.3em;
    display: flex;

    title {
      margin-top: 0.2em;
    }

    svg {
      margin-top: 0.1em;
    }
  }
}

.station_select {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  justify-content: space-between;

  select {
    padding: 2px;
    margin-bottom: 0.3em;
    border: none;
    border-radius: 3px;
    width: 20em;
    background-color: var(--input-bg);
  }
}

.datetime_picker_container {
  display: flex;
  justify-content: space-between;

  input {
    padding: 2px;
    border: none;
    border-radius: 3px;
    width: 19.7em;
    background-color: var(--input-bg);
  }
}

.warning-message {
  color: var(--warning-color);
  display: none;

  &.visible {
    display: block;
  }
}

.date_warning_span {
  &::before,
  &::after {
    content: " ";
  }

  &.highlight {
    font-weight: bold;
  }
}
