#form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.station_select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#datetime_picker_container {
  display: flex;
  justify-content: space-between;
}

#warning {
  color: #860c0c;
}